@use 'variables'
@use 'mixins'
@use 'fonts'

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
   @include mixins.flex-center
   @include mixins.box-size
   flex-direction: column
   font-family: variables.$Family
   font-weight: variables.$Font-regular
   font-size: variables.$Font-size

   .content
        @include mixins.box-size
        

        .card-section
            @include mixins.bg-img('bg-main-desktop.png')
            position: relative
            width: 26rem
            min-height: 100vh

            &__front-card
                @include mixins.bg-img('bg-card-front.png')
                position: absolute
                top: 12rem
                left: 1rem
                width: 35rem
                height: 20rem
                padding: 1.5rem
                border-radius: .5rem

                &-logo
                    margin-bottom: 6rem

                &-number
                    color: variables.$White
                    font-size: 2.5rem
                    letter-spacing: .3rem
                    margin-bottom: 3rem
                    
                
                &-flex
                    @include mixins.flex-center
                    justify-content: space-between
                    margin-top: 1rem
                    color: variables.$White
                    letter-spacing: .1rem

                &-name
                    text-transform: uppercase
                    
                &-date
                    margin-right: 2rem
                    
                        