@use 'variables'
@use 'mixins'
@use 'fonts'

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
   width: 100%
   min-height: 100vh
   font-family: variables.$Family
   font-weight: variables.$Font-Weight
   font-size: variables.$Font-size
   overflow-y: hidden
   

   .content
        @include mixins.box-size
        display: flex
    
        .card
            @include mixins.bg-img('bg-main-desktop.png')
            position: relative
            width: 36.5rem
            min-height: 100vh

            &__front-card
                @include mixins.bg-img('bg-card-front.png')
                @include mixins.card-shape
                position: absolute
                top: 10rem
                left: 12rem
                
                &-logo
                    margin-bottom: 5rem

                &-number
                    color: variables.$White
                    font-size: 2.4rem
                    letter-spacing: .3rem
                    margin-bottom: 2.5rem
                    
                &-flex
                    @include mixins.flex-center
                    justify-content: space-between
                    margin-top: 1rem
                    color: variables.$White
                    letter-spacing: .1rem

                &-name
                    text-transform: uppercase
                
                &-date
                    margin-right: 1rem
                    
            .back-card 
                @include mixins.bg-img('bg-card-back.png')
                @include mixins.card-shape
                @include mixins.flex-center
                position: absolute
                top: 30rem
                left: 17.5rem

                &__number 
                    margin-left: 23rem
                    color: variables.$White
                    
        .form
            @include mixins.flex-center
            @include mixins.box-size
            margin-top: 5rem
            letter-spacing: .1rem
            
            &__data
                font-size: variables.$Font-size
                width: 30rem
                height: 30rem
                
            
            &__wrapper
                display: flex
                margin-bottom: 2rem
            
            &__data-title
                margin-top: 1rem
                color: variables.$Very-dark-violet

            input
                @include mixins.input-shape

            #name, #number
                width: 20rem
            
            &__month-year
                display: flex
                
            #month, #year
                width: 4.5rem

            #year
                margin-left: .5rem

            &__cvc
                margin-left: 2rem

            #cvc
                width: 8.3rem
                
            ::placeholder
                color: variables.$Light-grayish-violet
                
            &__button
                width: 20rem
                height: 3rem
                margin-left: .3rem
                border-radius: .5rem
                background-color: variables.$Very-dark-violet
                color: variables.$White
                letter-spacing: .1rem
                
                