@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
}
body .content {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
body .content .card {
  background-image: url("../images/bg-main-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 36.5rem;
  min-height: 100vh;
}
body .content .card__front-card {
  background-image: url("../images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 33rem;
  height: 18rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 10rem;
  left: 12rem;
}
body .content .card__front-card-logo {
  margin-bottom: 5rem;
}
body .content .card__front-card-number {
  color: hsl(0, 0%, 100%);
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2.5rem;
}
body .content .card__front-card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1rem;
}
body .content .card__front-card-name {
  text-transform: uppercase;
}
body .content .card__front-card-date {
  margin-right: 1rem;
}
body .content .card .back-card {
  background-image: url("../images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 33rem;
  height: 18rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30rem;
  left: 17.5rem;
}
body .content .card .back-card__number {
  margin-left: 23rem;
  color: hsl(0, 0%, 100%);
}
body .content .form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 5rem;
  letter-spacing: 0.1rem;
}
body .content .form__data {
  font-size: 1.125rem;
  width: 30rem;
  height: 30rem;
  border: 1px solid black;
}
body .content .form__wrapper {
  display: flex;
  margin-bottom: 2rem;
}
body .content .form__data-title {
  margin-top: 1rem;
  color: hsl(278, 68%, 11%);
}
body .content .form input {
  height: 3rem;
  margin: 0.2rem 0 0 0.2rem;
  border-radius: 0.5rem;
}
body .content .form #name, body .content .form #number {
  width: 20rem;
}
body .content .form__month-year {
  display: flex;
}
body .content .form #month, body .content .form #year {
  width: 4.5rem;
}
body .content .form #year {
  margin-left: 0.5rem;
}
body .content .form__cvc {
  margin-left: 2rem;
}
body .content .form #cvc {
  width: 8.3rem;
}
body .content .form ::placeholder {
  color: hsl(279, 6%, 55%);
}
body .content .form__button {
  width: 20rem;
  height: 3rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1rem;
}

/*# sourceMappingURL=styles.css.map */
