@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  overflow-y: hidden;
}
body .content {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
body .content .card {
  background-image: url("../images/bg-main-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 45rem;
  min-height: 100vh;
}
body .content .card__front-card {
  background-image: url("../images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30rem;
  height: 17rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 12rem;
  left: 10rem;
}
body .content .card__front-card-logo {
  margin-bottom: 5rem;
}
body .content .card__front-card-number {
  color: hsl(0, 0%, 100%);
  font-size: 2.18rem;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}
body .content .card__front-card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1rem;
}
body .content .card__front-card-name {
  text-transform: uppercase;
}
body .content .card__front-card-date {
  margin-right: 1rem;
}
body .content .card .back-card {
  background-image: url("../images/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30rem;
  height: 17rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 31rem;
  left: 15.5rem;
}
body .content .card .back-card__cvc {
  margin-left: 23rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1rem;
}
body .content .form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 3rem;
  letter-spacing: 0.1rem;
}
body .content .form__data {
  font-size: 1.125rem;
  min-width: 30rem;
  height: 30rem;
}
body .content .form__wrapper {
  display: flex;
}
body .content .form__data-title {
  color: hsl(278, 68%, 11%);
  margin-bottom: 0.5rem;
}
body .content .form input {
  height: 3rem;
  margin: 0.2rem 0 0 0.2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  border-color: hsl(270, 3%, 87%);
}
body .content .form #name, body .content .form #number {
  width: 21rem;
}
body .content .form__month-year {
  display: flex;
}
body .content .form #month, body .content .form #year {
  width: 4.5rem;
}
body .content .form #year {
  margin-left: 0.5rem;
}
body .content .form__cvc {
  margin-left: 1rem;
}
body .content .form #cvc {
  width: 10.3rem;
}
body .content .form ::placeholder {
  color: hsl(270, 3%, 87%);
  padding-left: 1rem;
}
body .content .form__button {
  width: 21rem;
  height: 3rem;
  margin-left: 0.3rem;
  border-radius: 0.5rem;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1rem;
}

/*# sourceMappingURL=style.css.map */
